{% load static %}

<!doctype html>
<html>
<head>
		<!-- This makes the bootstrap css work -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<!-- This connects my CSS external stylesheet to the index.html -->
		<link rel="stylesheet" src="static/css/main.css">
	<title>Coding for Entrepreneurs is doing Try Django</title>

</head>
<body>
	
	{%include 'navbar.html'%}
	{% block content %}
	<!-- replace content outside of this body in exterior files on the same DIR-->
	{% endblock %}
<!-- <script src ="statc/js/main.js"></script>	 -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  //jQuery animations for pages - this doesn't belong here Jack
	$(function (){
		$(".jumbotron").delay(200).slideToggle();
		$(".navbar").fadeIn(700);
	});
	</script>
</body>
</html>